:root {
    --background-color: #fbf1c7;
    --foreground-color: #3c3836;
    --accent-color:     #928374;

    --code-background-color: #282828;
    --code-foreground-color: #ebdbb2;
}

@media only screen and (max-device-width: 736px) {
    main {
        padding: 0rem;
    }
}

::selection {
    background: #d3869b;
}

main {
    font-family: monospace, monospace;
    max-width: 38rem;
    padding: 2rem;
    margin: auto;
    border: 2px solid var(--accent-color);
    border-radius: 5px;
}

body {
    background: var(--background-color);
    color: var(--foreground-color);
}

pre {
    color: var(--code-foreground-color);
    background-color: var(--code-background-color);
    padding: 1em;
    border-radius: 5px;
}

code {
    font-size: 120%;
    color: var(--code-foreground-color);
    background-color: var(--code-background-color);
    padding: 0.1em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-radius: 5px;
}

a, a:active, a:visited {
    color: #b16286;
    text-decoration: none;
}

h1, h2, h3, h4, h5 {
    margin-bottom: .1rem;
}

blockquote {
    border-left: 2px solid var(--accent-color);
    margin: 0.5em 10px;
    padding: 0.5em 10px;
}

img {
	border: 0px;
	border-radius: 5px;
}

hr {
    border: 1px solid var(--accent-color);
    max-width: 50%;
}

header, footer {
    text-align: center;
    align: center;
}
